<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SuiteTestExcersise">
    <test name="Test">
        <classes>
            <!--<class name="DavidMencos.Tests.ExerciseOne" />-->
            <!--<class name="DavidMencos.Tests.ExerciseTwo" />-->
            <class name="DavidMencos.Tests.ExerciseThree" />
            <!--<class name="DavidMencos.Tests.ExerciseFour" />-->
            <!--<class name="DavidMencos.Tests.ExerciseFive" />-->
        </classes>
    </test>
</suite>